workDir = "$AZURE_WORKING_DIRECTORY"

azure {
    storage {
        accountName  = "$AZURE_STORAGE_ACCOUNT_NAME"
        accountKey   = "$AZURE_STORAGE_ACCOUNT_KEY"
    }
    batch {
        location     = "$AZURE_BATCH_ACCOUNT_REGION"
        accountName  = "$AZURE_BATCH_ACCOUNT_NAME"
        accountKey   = "$AZURE_BATCH_ACCOUNT_KEY"
    }
}