params {
    azure_vm_size = "Standard_D8_v3"
}

process {
    errorStrategy = 'finish'
}

profiles {
    standard {
        process.executor = 'local'
        docker.enabled   = true
    }

    autoazure {
        process.executor = 'azurebatch'
        includeConfig 'azure.config'
        azure {
            batch {
                autoPoolMode = true
                pools {
                    auto {
                        autoScale = true
                        vmType    = params.azure_vm_size
                    }
                }
            }
        }
    }
}