params {
    azure_vm_size = "Standard_D2_v3"
}

profiles {
    standard {
        process.executor = 'local'
        docker.enabled   = true
    }

    autoazure {
        process.executor = 'azurebatch'
        includeConfig 'azure.config'
        azure {
            batch {
                autoPoolMode = true
                pools {
                    auto {
                        vmType = params.azure_vm_size
                    }
                }
            }
        }
    }
}